/* label color */
.input-field label {
    color: #000000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #FFFFFF;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000000;
}
.parallax-container {
    height: 300px;
}